<nav class="navbar navbar-inverse navbar-expand fixed-top" role="navigation">
  <a class="navbar-brand logo" href="/">
    <span class="align-middle"><img src="{{cdn "/assets/images/PenguinHQ_compressed.png"}}" height="40px"> Stubborn<span class="java">Java</span></span>
    {{!-- Add this SVG instead later. I can't get CSS to work --}}
    {{!-- <span>{{> templates/src/widgets/nav/logo }} Stubborn<span class="java">Java</span></span> --}}
  </a>
  <div class="navbar-nav mr-auto">
    <div class="dropdown">
      <a class="nav-item nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Guides
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{#each guideTitles}}
        <a class="dropdown-item" href="/guides/{{slug}}">{{title}}</a>
        {{/each}}
      </div>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="header-social">
    <div class="followus">Follow</div>
    <a href="https://twitter.com/StubbornJava"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://github.com/StubbornJava/StubbornJava"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a rel="alternate" type="application/rss+xml" title="StubbornJava" href="/rss/feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </div>
</nav>
