{{#> templates/src/common/_error-layout}}
  {{#*inline "title"}}Page Not Found{{/inline}}
  {{#*inline "content"}}
    <div class="error">
      <!-- Heading -->
      <h1><strong>404<span class="color">!</span></strong> Page Not Found<span class="color">!</span></h1>

      <!-- Paragraph -->
      <h4>This page no longer exists or an invalid link has sent you here. Sorry for the inconvienence.</h4>

      <ul class="list-inline">
        <!-- List -->
        <li><a href="/">Home</a><li>
      </ul>
    </div>
  {{/inline}}
{{/ templates/src/common/_error-layout}}
