.classpath
.project
**/bin
**/target/
**/build
.settings/
**/*/rebel.xml
.DS_STORE
logback-test.xml

**/*.iml
.idea/
**/*.local.conf

.gradle/

**/ui/node_modules
**/ui/assets

.vault_pw.txt
**.retry

terraform.tfstate*
.terraform/
