db {
  url="{{db['url']}}"
  user="{{db['user']}}"
  password="{{db['password']}}"
}

github {
  clientId="{{github['client_id']}}"
  clientSecret="{{github['client_secret']}}"
}

metrics {
  graphite.host="{{metrics.graphite.host}}"
  grafana.api_key="{{metrics.grafana.api_key}}"
}
