<!DOCTYPE html>
<html lang="en">
  <head>
      {{> examples/handlebars/head metaDesc=metaDesc}}
      <title>{{> title}}</title>
  </head>
  <body>
    {{> examples/handlebars/header}}
    {{> content}}
    {{> examples/handlebars/scripts}}
  </body>
</html>
