{{#> examples/handlebars/_base-layout}}
  {{#*inline "title"}}Messages Demo{{/inline}}
  {{#*inline "content"}}
    <div class="container">
      {{#each messages}}<p>Hello {{.}}</p>{{/each}}
    </div>
  {{/inline}}
{{/ examples/handlebars/_base-layout}}
