<!DOCTYPE html>
<html lang="en">
  <head>
      {{> templates/src/common/head metaDesc=metaDesc}}
      {{#if twitterSummaryCard}}{{> templates/src/widgets/social/twitter/summary-card title=title desc=metaDesc}}{{/if}}
      <title>{{> title}}</title>
  </head>
  <body>
    {{> templates/src/widgets/nav/header}}
    {{> content}}
    {{> templates/src/widgets/footer/footer}}
  </body>
</html>
