<!DOCTYPE html>
<html lang="en">
<head>
    {{> templates/head}}
    <title>Loggers</title>
</head>
<body>
    {{> templates/header}}
    <div class="container">
        <div class="row show-grid">
	      <div class="col-sm-12">
	        <table class="table table-striped table-condensed table-hover table-bordered table-nonfluid">
	          <thead>
	            <tr>
	                <th>Logger</th>
	                <th>Level</th>
	            </tr>
	          </thead>
	          <tbody>
	            {{#each data.loggers }}
	            <tr>
	              <td>{{ name }}</td>
	              {{#if level}}<td>{{ level }}</td>
	              {{else}}<td>{{ effectiveLevel }}</td>
	              {{/if}}
	            </tr>
	            {{/each }}
	          </tbody>
	        </table>
	      </div>
	    </div>
        {{> templates/footer}}
      </div>
</body>
