{{#> static/templates/src/layout}}
  {{#*inline "title"}}Stubborn Java Demo{{/inline}}
  {{#*inline "content"}}
    <div class="page-heading">
      <div class="container center-text">
        <h1>Home Tagline!</h1>
        <ul class="list-unstyled">
          <li><a href="/hello?name=">Hello World</a></li>
          <li><a href="/hello?name=StubbornJava">Hello StubbornJava</a></li>
        </ul>
      </div>
    </div>
  {{/inline}}
{{/ static/templates/src/common/_base-layout}}
