<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content="{{#if metaDesc }}{{metaDesc}}{{/if}}"/>
    <link rel="stylesheet" href="/static/css/app.css"/>

    <title>{{> title}}</title>
  </head>

  <body>
    {{> static/templates/src/nav}}
    {{> content}}

    {{> static/templates/src/footer}}
    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>
</html>
