{{#> static/templates/src/layout}}
  {{#*inline "title"}}Page Not Found{{/inline}}
  {{#*inline "content"}}
    <div class="page-heading">
      <div class="container center-text">
        <h1>Page Not Found.</h1>
      </div>
    </div>
  {{/inline}}
{{/ static/templates/src/_base-layout}}
