{{#> static/templates/src/layout}}
  {{#*inline "title"}}Server Error{{/inline}}
  {{#*inline "content"}}
    <div class="page-heading">
      <div class="container center-text">
        <h1>Server Error!</h1>
      </div>
    </div>
  {{/inline}}
{{/ static/templates/src/_base-layout}}
