# ansible-playbook --vault-password-file .vault_pw.txt -i inventories/production stubbornjava.yml
---
- hosts: stubbornjava
  become: true
  roles:
    - role: common
    - role: apps/jvm_app_base
      app_name: stubbornjava
      app_command: "java8 -Denv={{env}} -Xmx640m -Xss512k -cp 'stubbornjava-all.jar' com.stubbornjava.webapp.StubbornJavaWebApp"
