<a href="{{url}}" rel="nofollow">
  <div class="theme card fade show">
    <div class="theme-thumbnail">
      <img src="{{imageUrl}}" class="img-fluid" alt="{{title}} Screenshot"/>
    </div>
    <div class="card-block">
      <h5 class="card-title">{{title}}</h5>
    </div>
  </div>
</a>
