<a href="{{url}}" rel="nofollow">
  <div class="theme card fade">
    <div class="theme-thumbnail">
      <img src="{{imageUrl}}" class="img-fluid" alt="">
    </div>
    <div class="card-block">
      <hr/>

      <h5 class="card-title">{{title}}</h5>
    </div>
  </div>
</a>
