# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2


    # https://github.com/actions/cache/blob/master/examples.md#java---gradle
    - name: save / load UI caches
      id: ui-cache
      uses: actions/cache@v1
      with:
        path: ./stubbornjava-webapp/ui/assets
        key: ${{ runner.os }}-stubbornjava-webapp-ui-${{ hashFiles('stubbornjava-webapp/ui/src/**') }}

    - name: Set up Node
      uses: actions/setup-node@v1
      if: steps.ui-cache.outputs.cache-hit != 'true'
      with:
        node-version: '10.x'
        registry-url: 'https://registry.npmjs.org'

    - name: npm install
      if: steps.ui-cache.outputs.cache-hit != 'true'
      working-directory: ./stubbornjava-webapp/ui
      run: npm install

    - name: webpack build
      if: steps.ui-cache.outputs.cache-hit != 'true'
      working-directory: ./stubbornjava-webapp/ui
      run: ./node_modules/webpack/bin/webpack.js

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    # https://github.com/actions/cache/blob/master/examples.md#java---gradle
    - name: save / load Gradle caches
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build


    - name: Docker Login
      run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u ${{ github.actor }} --password-stdin docker.pkg.github.com

    - name: Build docker prod container
      if: github.ref == 'refs/heads/master'
      working-directory: ./stubbornjava-webapp
      run: docker build -t containers.pkg.github.com/stubbornjava/stubbornjava-webapp:prod -f ./docker/Dockerfile .

    - name: Build docker qa container
      if: github.ref != 'refs/heads/master'
      working-directory: ./stubbornjava-webapp
      run: docker build -t containers.pkg.github.com/stubbornjava/stubbornjava-webapp:qa -f ./docker/Dockerfile .

    - name: Push images and tags
      run: docker push containers.pkg.github.com/stubbornjava/stubbornjava-webapp

